.modal--testimonials{
  margin-top: -1320px !important;
  margin-left: -225px !important;
}

#app{
  display: grid;
  grid-template-columns: 225px 655px auto 225px;
  grid-template-rows: 485px 450px 360px auto;
}

.photo{

  grid-row-start: 2;
  grid-column-start: 2;
  width: 655px;
  margin-top: 25px;
}

.photo2{
  grid-column-start: 2;
  grid-row-start: 3;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#app-matt{
  grid-column-start: 1;
  grid-row-start: 2 ;
  grid-row-end: 4 ;
    height:auto;
    width: 310px;
    display:flex;
    position: relative;
    font-family: 'Mulish', sans-serif !important;
    left: 890px;
    margin-top:25px;
    margin-bottom:25px;

  .options{
    height:42px;
    width:310px;
    display: flex;
  }

  #tour{
    font-family: 'Mulish', sans-serif;
    padding: 16px;
    height: auto; /*  change to auto */
    width: 275px;
    border: 1.5px rgba(0, 0, 0, 0.18) solid;
    margin-top: 1px;
    box-shadow: rgba(59, 65, 68, 0.18) 0px 17px 21px -1px;
    border-radius:  0px 8px 8px 8px;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 25px;
  }

  .info{
    padding: 16px;
    height: auto;
    width: 275px;
    border:1.5px rgba(0, 0, 0, 0.18) solid;
    box-shadow: rgba(59, 65, 68, 0.18) 0px 17px 21px -1px;
    border-radius: 8px 0px 8px 8px;
  }

  /************ BUTTONS ************/

  button{
    font: inherit;
    font-family: 'Mulish', sans-serif;
  }
  .btn-tour{

    color: rgb(90,156,163);
    height:26px;
    width: 155px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    padding: 8px 16px;
    cursor:pointer;
    position: relative;
    font-family: 'Mulish', sans-serif !important;


  }

  .btn-tour-top{
    margin-top: 1px;
    height: 20px;
    width: 154px;
    position: absolute;
    cursor: pointer;
  }

  .tour-active-top{
   border: none;
   cursor: pointer;
  }

  .btn-tour-bottom{
    height: 20px;
    width: 154px;
    margin-top: 23px;
    margin-left: 1px;
    border: none;
    position: absolute;
    cursor: pointer;
  }

  .tour-active-bottom{
    border-radius: 0px;
    cursor: pointer;
    border:none;
    border-bottom: 1px rgb(255, 255, 255) solid;
  }

  .btn-info{
    color: rgb(90,156,163);
    height:26px;
    width: 155px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    padding: 8px 16px;
    cursor: pointer;
  }

  .tour-active{
    border: 0.5px rgba(0, 0, 0, 0.18) solid;
    border-bottom: 1.5px rgba(255, 249, 249, 0.18) solid;;
    border-radius: 8px 8px 0px 0px;

  }

  .info-active{
    border: 0.5px rgba(0, 0, 0, 0.18) solid;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
  }

  .btn-info-bottom{
    height: 20px;
    width: 154px;
    margin-top: 22px;
    margin-left: 155px;
    border: none;
    position: absolute;
    z-index: -99;


  }

  .info-active-bottom{

    cursor: pointer;
    border-radius: 0px;

    border:none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    z-index:100;
  }

  .tour-type{
    height:45px;
    width:100%;
  }

  button{
    height: 45px;
    width: 130px;
    border-radius: 8px;
  }

  .inperson{
    height: 40px;
    color: rgb(59,65,68);
    background-color: rgb(255,255,255);
    border-radius: 8px 0px 0px 8px;
    border-right:none;
    border: 0.5px rgba(0, 0, 0, 0.18) solid;
    font-size: 16px;
    outline: none;
    font-weight: bold;
  }

  .videochat{
    height: 40px;
    width: 145px;
    color: rgb(59,65,68);
    background-color: rgb(255,255,255);
    border-radius: 0px 8px 8px 0px;
    border-left:none;
    border: 0.5px rgba(0, 0, 0, 0.18) solid;
    font-size: 16px;
    outline: none;
    font-weight: bold;
  }

  .inperson:hover{
    background-color:rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border: none;
  }

  .videochat:hover{
    background-color:rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border: none;
  }

  .type-active{
    background-color: rgb(48,120,130);
    color: white;
    font-weight: bold;
  }

  .type-active:hover{
    cursor: pointer;
    background-color: rgb(48,120,130);

  }


  /************ TEXT ************/

  .interactive-info{
    text-decoration: none;
    color: rgb(48,120,130);
  }

  .type-text{
    color: rgb(134, 144, 153);
    width:100%;
    margin-bottom:8px;
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
  }

  .weekday{
    pointer-events:none;
  }

  .date{
    pointer-events:none;
  }

  .month{
    pointer-events:none;
  }

  /************ CALENDAR ************/
  .calendar{
    height: 95px;
    width: 250%;
    margin-right: 8px;
    color: rgb(59, 65, 68);
    transition: transform .25s ease-in ; /* our nice transition */
    margin-top: 35px;
    margin-left: 19px;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
  }

  .weekday{
    font-size: 14px;
    font-weight: normal;
  }

  .month{
    font-size: 14px;
  }

  .date{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
  }

  .day{
    padding: 0.5px;
    box-sizing: border-box;
    padding-top: 6.5px;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    display: inline-block;
    height:85px;
    width: 65px;
    margin-right: 5px;
    border:1.5px rgba(0, 0, 0, 0.18) solid;
    border-radius: 8px;

  }

  .day:hover{
    background-color: rgba(59, 65, 68, 0.03);
    cursor: pointer;

  }

  .day-selected{
    border: 2px rgb(0, 173, 187) solid;

  }

  .day-blank{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height:85px;
    width: 62px;
    margin-right: 5px;
    border:1.5px rgb(255, 255, 255) solid;
    border-radius: 8px;
  }

  .cal-view-two{

    transform: translateX(-48%);
    transition: transform 0.25s ease-out; /* our nice transition */
    scroll-behavior: smooth;
  }

  #next, #next-pressed{
    outline: none;
    background-color: rgb(255,255,255);
    border:0.5px rgba(0, 0, 0, 0.18) solid;
    position: relative;
    height:32px;
    width: 32px;
    border-radius: 30px;
    vertical-align: 100%;
    margin-bottom: 30px;
    margin-left: -23px;
    padding-left: -10px;
  }
  #next-pressed{
    background-color: #869099;
    border: none;
  }

  .prev-up, .prev-down, .next-up, .nextdown{
    height:25px;
    width: 25px;
    vertical-align: top;
    margin-left: -2px;
    margin-right: 10px;
    fill: rgb(117, 117, 117) !important;
  }

  .prev-up, .prev-down{
    margin-left: -4px;
  }


  .prev-down{

    fill:  rgb(255,255,255) !important;
  }

  .next-down{

    fill:  rgb(255,255,255) !important;
    height: 25px;
    width: 25px;
    margin-left: -2px;
    margin-right: 10px;
    vertical-align:top;
  }



  #prev, #prev-pressed{
    outline: none;
    background-color: rgb(255,255,255);
    border:0.5px rgba(0, 0, 0, 0.18) solid;
    position: relative;
    height:32px;
    width: 32px;
    border-radius: 30px;
    vertical-align: 110%;
    margin-right: -18px;
  }

  #prev-pressed{
    background-color: #869099;
    border: none;
  }

  #prev:hover{
    cursor: pointer;
    border: none;

    box-shadow: 6px 5px 24px -2px rgba(88,101,104,0.4);
  }

  #next:hover{
    cursor: pointer;
    border: none;
    box-shadow: 6px 5px 24px -2px rgba(88,101,104,0.37);
  }

  .calendar-wrapper{
    overflow: hidden;
    width: 310px;
    margin-left: -20px;
  }

  /************ TOOLTIP ************/
  .tooltip {
    position: relative;
    display: inline-block;

  }



  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: fff;
    color: rgb(55, 58, 61);
    text-align: left;
    padding: 20px 20px;
    border-radius: 6px;
    padding-bottom: 20px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }



  .tooltiptext{
    margin-top:15px;
    border: 0.5px rgba(0, 0, 0, 0.18) solid;
    background-color: white;
    box-shadow: rgba(59, 65, 68, 0.18) 0px 17px 21px -1px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1px;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext {
    width: 320px;
    top: 100%;
    left: 50%;
    font-weight: lighter;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

  .secondary{
    height: 50px;
    width: 320px;
    top: default;
    bottom: 150%;
    left: 20%;
    font-size: 10px;
    margin-top: -110px;
    margin-left: -300px !important;

  }

  .pointer-one, .pointer-two{
    padding: 0px !important;
    margin-top: 8px;
    border-right: none;
    border-bottom: none;
    border-radius: 0px !important;
    background: white;
    transform: rotateY(0deg) rotate(45deg) !important;
    height: 15px !important;
    width: 15px !important;
    margin-left: -12px !important;
    box-shadow: none !important;
  }

  .pointer-two{
    margin-left: -12px !important;
  }



  /************ FORMS ************/


  .choose-time{
    width: 100%;
    height: 40px;
    border:1.5px rgba(0, 0, 0, 0.18) solid;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top:3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(59, 65, 58);
  }

  select{
    color: -internal-light-dark(black, white);
    font-family: 'Mulish', sans-serif;
  }

  .choose-time:focus{
    box-shadow: rgb(48,120,130) 0px 0px 0px 2.5px;

  }

  .input-left, .input-right, .input-whole{
    margin-top: 8px;
    padding-left: 8px;
    height: 30px;
    border:1.5px rgba(0, 0, 0, 0.18) solid;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
  }

  .input-left{
    margin-right: 3.5px;
    width: 121px;
  }

  .input-right{
    margin-left: 3.5px;
    width: 121px;
  }

  .input-whole{
    width: 95.5%;
  }

  .input-left:focus, .input-right:focus, .input-whole:focus{
    box-shadow: rgb(48,120,130) 0px 0px 0px 2px;
  }

  #financing{
    vertical-align: -10%;
    margin-top: 10px;

  }

  .financing{
    color: rgb(134, 144, 153);
    font-size: 12px;
    margin-left: 5px;
  }

  .btn-submit{
    height: 40px;
    margin-top: 10px;
    width: 100%;
    background: rgb(217,60,46);
    color: white;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius:8px;
  }
  .btn-submit:hover{
    background-color: white;
    border: 1.5px rgb(217,60,46) solid;
    color: rgb(217,60,46);
    cursor: pointer;
  }

  .btn-submitted{
    background-color: rgb(245,246,247);
    border: 1.5px rgba(0, 0, 0, 0.18) solid;
    color: rgba(0, 0, 0, 0.18);
    pointer-events: none;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-radius:8px;
  }

  .svg{
    height:25px;
    width: 25px;
    vertical-align: top;
    margin-right: 10px;
    fill:  rgb(48,120,130) !important;
  }

  .advisory{
    color: rgb(48,120,130);
    margin-top: 10px;
  }

  .advisory-title{
    line-height: 1;
  }

  .advisory-info{
    color: rgb(134, 144, 153);
    font-size: 10px;
    line-height: 1.6;
  }




}